<p-panel [style]="{background: '#464646', color: 'white'}" styleClass="header-bar">
  <div class="header-content flex items-center justify-between">
    <img src="https://raw.githubusercontent.com/kollarm226/todolist/main/FrontEnd/ToDoListProject/assets/th_logo.png" alt="Logo" class="logo" />
  </div>
    <div class="profile" style="margin-top: -40px" align="right">
    <p-button (click)="toggle($event)" icon="pi pi-user" label="Profile"/>
  </div>
  <!--  <p-iconfield iconPosition="left">-->
  <!--    <p-inputicon styleClass="pi pi-search" />-->
  <!--    <input type="text" pInputText placeholder="Search" />-->
  <!--  </p-iconfield>-->
</p-panel>

<p-dialog header="User Preferences" [(visible)]="dialogVisible" [modal]="true" [style]="{width: '815px'}">
  <h1>User Preferences</h1>
  <div class="flex">
    <div class="w-1/3">
      <ul class="list-none p-0 m-0 flex flex-col">
        <li *ngFor="let menuItem of menuItems" class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border" (click)="selectOption(menuItem)">
          <div>
            <span class="font-medium">{{ menuItem.label }}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="w-2/3">
      <ng-container *ngIf="selectedOption === 'option1'">
        <h2>Option 1 Content</h2>
        <!-- Option 1 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option2'">
        <h2>Option 2 Content</h2>
        <!-- Option 2 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option3'">
        <h2>Option 3 Content</h2>
        <!-- Option 3 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option4'">
        <h2>Option 4 Content</h2>
        <!-- Option 4 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option5'">
        <h2>Option 5 Content</h2>
        <!-- Option 5 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option6'">
        <h2>Option 6 Content</h2>
        <!-- Option 6 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option7'">
        <h2>Option 7 Content</h2>
        <!-- Option 7 content here -->
      </ng-container>
      <ng-container *ngIf="selectedOption === 'option8'">
        <h2>Option 8 Content</h2>

      </ng-container>
    </div>
  </div>
</p-dialog>


