<app-header></app-header>
<div class="center-container">
  <p-card header="Registration" class="center-header" [style]="{ width: '18rem', overflow: 'hidden' }">
    <form [formGroup]="formGroup" (keydown.enter)="register()" class="form-content">
      <p-iftalabel class="field-spacing">
        <p-iconfield>
          <p-inputicon class="pi pi-user"></p-inputicon>
          <input autocomplete="off" formControlName="name" id="name" pInputText />
        </p-iconfield>
        <label for="name">Name</label>
        <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
          <small class="p-error">Name is required.</small>
        </div>
      </p-iftalabel>

      <p-iftalabel class="field-spacing">
        <p-iconfield>
          <p-inputicon class="pi pi-user"></p-inputicon>
          <input autocomplete="off" formControlName="surname" id="surname" pInputText />
        </p-iconfield>
        <label for="surname">Surname</label>
        <div *ngIf="formGroup.get('surname')?.invalid && formGroup.get('surname')?.touched">
          <small class="p-error">Surname is required.</small>
        </div>
      </p-iftalabel>

      <p-iftalabel class="field-spacing">
        <p-iconfield>
          <p-inputicon class="pi pi-envelope"></p-inputicon>
          <input pInputText id="email" autocomplete="off" formControlName="email" />
        </p-iconfield>
        <label for="email">Email</label>
        <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
          <small class="p-error">Valid email is required.</small>
        </div>
      </p-iftalabel>

      <p-iftalabel class="field-spacing">
        <div class="card flex justify-center">
          <p-password [feedback]="true" [toggleMask]="true" formControlName="password" inputId="password">
            <ng-template pTemplate="header">
              <div class="font-semibold text-sm mb-2">Pick a password</div>
            </ng-template>
            <ng-template pTemplate="footer">
              <ul class="pl-1 ml-1 my-0 leading-tight">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <label>Password</label>
        </div>
        <div *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
          <small class="p-error">Password is required.</small>
        </div>
      </p-iftalabel>

      <p-iftalabel class="field-spacing">
        <p-password inputId="repeatPassword" formControlName="repeatPassword" [feedback]="false" [toggleMask]="true"></p-password>
        <label>Repeat password</label>
        <div *ngIf="formGroup.get('repeatPassword')?.invalid && formGroup.get('repeatPassword')?.touched">
          <small class="p-error">Passwords must match.</small>
        </div>
      </p-iftalabel>

      <div class="field-spacing">
        <p-checkbox formControlName="checkbox" inputId="acceptTerms" binary="true"></p-checkbox>
        <label class="ml-2">
          I accept the
          <button type="button" class="p-link" (click)="showTerms()">terms of use</button>
        </label>
      </div>

      <p-button (click)="register()" [disabled]="!formGroup.valid" class="w-full" label="Register your account"></p-button>
    </form>
  </p-card>

  <p-dialog header="Terms of Use" [(visible)]="termsVisible" [modal]="true" [style]="{ width: '600px' }">
    <div style="max-height: 400px; overflow-y: auto;">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis tristique imperdiet...
      </p>
    </div>
  </p-dialog>
</div>
<p-toast></p-toast>
