<app-header></app-header>
<div class="center-container">
  <p-card class="center-header" [style]="{ width: '18rem', overflow: 'hidden' }">
    <ng-template pTemplate="header">
      <div class="custom-header"><b>Login</b></div>
    </ng-template>

    <form [formGroup]="formGroup" (ngSubmit)="login()">
      <p-iftalabel class="field-spacing">
        <p-iconfield>
          <p-inputicon class="pi pi-envelope"></p-inputicon>
          <input autocomplete="off" formControlName="email" id="email" pInputText />
        </p-iconfield>
        <label for="email">Email</label>
        <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
          <small class="p-error">Valid email is required.</small>
        </div>
      </p-iftalabel>

      <p-iftalabel class="field-spacing">
        <div class="card flex justify-center">
          <p-password [feedback]="false" [toggleMask]="true" formControlName="password" inputId="password"></p-password>
          <label>Password</label>
        </div>
        <div *ngIf="formGroup.get('password')?.invalid && formGroup.get('password')?.touched">
          <small class="p-error">Password is required.</small>
        </div>
      </p-iftalabel>

      <div class="forgot-password">
        <a href="#" (click)="forgotPassword()">Forgot password?</a>
      </div>
      <div style="margin-top: 16px">
        <p-button type="submit" [disabled]="!formGroup.valid || loading" class="w-full" label="Login"></p-button>
      </div>
      <div class="signup-link">
        <div style="margin-top: 14px">
          Don't have an account? <a (click)="signUp()"><u>Sign up</u>!</a>
        </div>
      </div>
    </form>

    <div *ngIf="loading" class="loading-skeleton">
      <p-skeleton width="100%" height="20px"></p-skeleton>
      <p-skeleton width="100%" height="20px"></p-skeleton>
    </div>
  </p-card>
</div>
<p-toast></p-toast>
