<div class="container">
  <div class="sidebar">
    <div class="card flex justify-center">
      <p-menu [model]="items"></p-menu>
      </div>
    <div class="PlusButton">
    <p-button (click)="showDialog()" icon="pi pi-plus"></p-button>
  </div>
    <p-dialog [(visible)]="visible" [contentStyle]="{'overflow': 'visible'}" [modal]="true" [style]="{ width: '25rem' }"
              header="Add list">
      <div class="flex items-center gap-4 mb-4">
        <label class="font-semibold w-24" for="listname">List name</label>
        <input [(ngModel)]="name" autocomplete="off" class="flex-auto" id="listname" pInputText/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label class="font-semibold w-24">Color</label>
        <div class="card flex justify-center">
          <p-colorpicker [(ngModel)]="color"></p-colorpicker>
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <p-button (click)="visible = false" label="Cancel" severity="secondary"></p-button>
        <p-button (click)="addList()" label="Save"></p-button>
      </div>
    </p-dialog>
  </div>

  <!-- Main content area -->
  <div class="content">
    <!-- Add New Todo form -->
    <div class="Card">
      <p-floatlabel variant="on">
        <input [(ngModel)]="newTask" autocomplete="off" id="Add new Todo" pInputText/>
        <label>Add new Todo</label>
        <p-button (click)="addTask()" class="task" label="Add"></p-button>
      </p-floatlabel>

      <!-- Todo table -->
      <div class="todotable" *ngIf="tasks && tasks.length > 0; else noTasks">
        <p-table
          (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
          (onRowSelect)="onTaskSelect($event)"
          (onRowUnselect)="onTaskUnselect($event)"
          [(selection)]="selectedTasks"
          [tableStyle]="{'min-width': '50rem'}"
          [value]="tasks"
          dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Name</th>
            </tr>
          </ng-template>
          <ng-template let-task pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="task"></p-tableCheckbox>
              </td>
              <td>{{ task.name }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <ng-template #noTasks>
        <div style="margin-top: 16px;">
        <p-message severity="secondary">No tasks added yet. Click on green ADD button to add your first task.</p-message>
        </div>
      </ng-template>
    </div>
  </div>


</div>
