.header-bar {
  background-color: #617691;
  color: white;
}

.header-content {
  text-align: left;
  padding: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 1rem;
  display: flex;
  align-items: center;
}
.logo {
  width: 250px;
  height: auto;
  margin-top: -18px;
}
